@{
    ViewData["Title"] = "Dallas C# Sig Feedback";
}

<div class="jumbotron">
    <h1>Dallas C# Sig Feedback</h1>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Provide your feedback</a></p>
</div>